name: wordpress
services:
  wordpress:
    image: ${WORDPRESS_IMAGE}
    container_name: ${WORDPRESS_CONTAINER_NAME}
    ports:
      - ${WORDPRESS_PORT}:80
    # volumes:
    #   - ./wordpress/plugins:/var/www/html/wp-content/plugins
    #   - ./wordpress/themes:/var/www/html/wp-content/themes
    env_file:
      - .env
    environment:
      WORDPRESS_DB_HOST: mysql:${MYSQL_PORT}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_TABLE_PREFIX: wp_
      WORDPRESS_DOMAIN: ${WORDPRESS_DOMAIN}:${WORDPRESS_PORT}
    links:
      - mysql
    depends_on:
      - mysql
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '500mb'
        reservations:
          cpus: '0.1'
          memory: '50mb'
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

  mysql:
    image: ${MYSQL_IMAGE}
    container_name: ${MYSQL_CONTAINER_NAME}
    env_file:
      - .env
    restart: no
    volumes:
      - ./mysql/config:/etc/mysql/conf.d
      - ./mysql/logs:/var/log/mysql
    ports:
      - ${MYSQL_PORT}:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_INITDB_SKIP_TZINFO: 1
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '1gb'
        reservations:
          cpus: '0.1'
          memory: '50mb'
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
